/* CSS declarations go here */

.main-header {
    background-color: #e74347;
    width: 100%;
    height: 140px;
    position: absolute;
    z-index: -1;
}

svg {
    width: 900px;
    height: 600px;
    border: 1px lightsalmon solid;
}
